
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>jQuery.ajax()</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="col-md-12">
  <h1>Wireguard Peer List</h1>
  <div id="display-resources">
    <p>Click the refresh button to load the current peer lists and to be able to set trust.</p>
  </div>
  <a href="#" class="btn btn-primary" id="retrieve-resources">Update Peer List</a>
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script>


  function toDateTime(secs) {
    var t = new Date(1970, 0, 1); // Epoch
    t.setSeconds(secs);
    return t;
  }

  // This converts the decimal IP to a 4 octet representation.
  function num2dot(num)
  {
    var d = num%256;
    for (var i = 3; i > 0; i--)
    {
      num = Math.floor(num/256);
      d = num%256 + '.' + d;
    }
    return d;
  }

  function updateTrust(sender)
  {
    var pubkey = $(sender).data('pubkey');
    var state = !$(sender).data('state');
    $.ajax({
      type: 'POST',
      data: JSON.stringify({ "is_trusted": state}),
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      url: "/peer/"+ pubkey +"/trust",
      success: function(result)
      {
        updateList();
      }
    });
  }

  function deletePeer(sender)
  {
    var pubkey = $(sender).data('pubkey');
    $.ajax({
      type: 'POST',
      contentType: "application/json; charset=utf-8",
      dataType: "json",
      url: "/peer/"+ pubkey +"/delete",
      success: function(result)
      {
        updateList();
      }
    });
  }

  function updateList()
  {
    var displayResources = $('#display-resources');

    displayResources.text('Loading data from JSON source...');

    $.ajax({
      type: "GET",
      url: "/peers",
      success: function(result)
      {
        console.log(result);
        var output="<table><thead><tr><th>Username</th><th>Date created</th><th>IP-Address</th><th>Registration IP-Address</th><th>Public Key</th><th>Is trusted?</th><th>Delete</th></thead><tbody>";
        for (var i in result)
        {
          var pubkey = result[i].pubkey;
          output+="<tr><td>" + result[i].username + "</td><td>" + toDateTime(result[i].date_created) + "</td><td>" + num2dot(result[i].ip_address) + "</td>"
          output+="<td>" + num2dot(result[i].reg_ip_address) + "</td>"
          output+="<td id=\”pubkey\">" + pubkey + "</td>"
          output+='<td><a onclick="updateTrust(this)" data-pubkey="' + pubkey + '" data-state=' + result[i].is_trusted + ' href="#">' + result[i].is_trusted + "</a></td>"
          output+='<td><a onclick="deletePeer(this)" data-pubkey="' + pubkey + '" data-state=' + result[i].is_trusted + ' href="#">' + "Delete</a></td>"
          output+="</tr>";
        }
        output+="</tbody></table>";

        displayResources.html(output);
        $("table").addClass("table");
      }
    });


  }

  $(document).ready(function () {
    updateList();
    $('#retrieve-resources').click(function () {
      updateList();
    });

  });

  </script>

</body>
</html>
