{% extends "base.html" %}
{% block body %}
  <div id="display-resources">
    <p></p>
  </div>

<div class="row">



  <div class="col-lg-4">
      <h1><i class="fas fa-key"></i> Wireguard Keygen</h1>
    <p>The username can contain a maximum of 40 alphanumeric characters.</p>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" class="form-control" id="username" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      <span class="input-group-btn">
        <button class="btn btn-primary"  onclick="javascript:submitToServer(this)" type="button">Generate Key & Submit</button>
      </span>
    </div>
    <br />
    <p>After entering the username and pressing the button, you will be automatically getting a .conf file to download.</p>
  </div>


  <div class="col-md-4">
  <h1><i class="fas fa-info"></i> Introduction</h1>
  <p>This is the web-based wireguard key generator. It will help you to generate
    your keypair (the private and public key) and automatically add your public
    key to the registration server.
  </p>

  <p><b>Please note:</b> Depending on your OS, Browser etc. the generation of
   random numbers, which are required to generate the private key, the resulting
   keys might be unsafe to use.<br/>
   <br />
   <b>If you can, use the script <i>client/register.sh</i>,
     which is supplied with wg-web instead</b>
  </b>


</div>



  </div>


</div>


  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>

<script src="/static/js/wireguard.js"></script>
<script>
/* SPDX-License-Identifier: GPL-2.0
 *
 * Copyright (C) 2015-2018 Jason A. Donenfeld <Jason@zx2c4.com>. All Rights Reserved.
 */
 function num2dot(num)
 {
   var d = num%256;
   for (var i = 3; i > 0; i--)
   {
     num = Math.floor(num/256);
     d = num%256 + '.' + d;
   }
   return d;
 }

function submitToServer(sender)
{
	let keypair = WireGuard.generateKeypair();
	//var serverResponse = sendPubkeyToServer(keypair.publicKey, "zx2c4", "supersecretpassword");

  $.ajax({
    type: 'POST',
    data: JSON.stringify({ "pubkey": keypair.publicKey, "username": document.getElementById("username").value}),
    contentType: "application/json; charset=utf-8",
    dataType: "json",
    url: "/peer",
    success: function(result)
    {
      console.log(result);
      //var returnedData = JSON.parse(result);
      console.log("Submission successful. Private key = " + keypair.privateKey)
      var config = [];
    	config.push("[Interface]");
    	config.push("PrivateKey = " + keypair.privateKey);
    	config.push("Address = " + num2dot(result.ip_address));
    	//config.push("DNS = " + serverResponse.dns.join(", "));
    	config.push("");
    	config.push("[Peer]");
    	config.push("PublicKey = " + "{{ config.WIREGUARD_SERVER_PUBKEY }}");
    	config.push("Endpoint = " + "{{ config.WIREGUARD_SERVER_IP }}:{{ config.WIREGUARD_SERVER_PORT }}");
    	config.push("");

    	config = config.join("\n");

    	var blob = new Blob([config], { type: "text/plain" });
    	var a = document.createElement("a");
    	a.download = "wireguard-web.conf";
    	a.href = URL.createObjectURL(blob);
    	a.style.display = "none";
    	document.body.appendChild(a);
    	a.click();
    	document.body.removeChild(a);
    }
  });

}
</script>
{% endblock %}
